

.insta{
  width: 25px;
  height: 25px;

}
.fb{
  width: 25px;
  height: 25px;
}
.wp{
  width: 25px;
  height: 25px;
}
.li{
  width: 25px;
  height: 25px;
}
.profile-data{
  margin-left: 20px;
}
.bottom{
  margin-top: 0px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: lightgreen;
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 40px;
  margin-bottom: 0px;
}
.bottom:hover{
  transition: green 1s;
}
.list1{
  text-decoration: none;
  margin-top: 20px;

}
.list2{
  display: flex;
  fl
  align-items: center;
}
.i{
  flex: 1; 
  margin: 0 10px;
  text-align: center; 
  padding: 10px; 
  border: 1px solid #ccc;
}
.l{
  flex: 1; 
  margin: 0 10px;
  text-align: center; 
  padding: 10px; 
  border: 1px solid #ccc;
}
.w{
  flex: 1; 
  margin: 0 10px;
  text-align: center; 
  padding: 10px; 
  border: 1px solid #ccc;
}
.f{
  flex: 1; 
  margin: 0 10px;
  text-align: center; 
  padding: 10px; 
  border: 1px solid #ccc;
}