body {
  margin: 0;
  padding-bottom: 0px;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
}

.main-header {
  background-color:white;
  height: 80px;
  background-size: cover;
  padding-bottom: 0px;
  background-position: center;
  color: #740707; 
  padding-bottom: 0; 
}

.header-container {
  display: flex;
  flex-direction: start;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: fixed;
  margin: auto;
  border-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 2px;
}
.header-container:hover{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.205);
}
.logo {
  max-height: 50px; 
  max-width: 200px;
  flex: 1;
  margin-left: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
  cursor: pointer;}

nav ul li a {
  text-decoration: none;
  color: burlywood 
  font-weight: bold;
}
nav ul li a:hover{
  text-decoration: underline;
}



.insta{
  width: 25px;
  height: 25px;

}
.fb{
  width: 25px;
  height: 25px;
}
.wp{
  width: 25px;
  height: 25px;
}
.li{
  width: 25px;
  height: 25px;
}
.profile-data{
  margin-left: 20px;
}
.bottom{
  flex: 1;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: lightgreen;
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 40px;
  margin-bottom: 0px;
}
.bottom:hover{
  transition: green 1s;
}
.list1{
  text-decoration: none;
  margin-top: 20px;

}
.list2{
  display: flex;
  fl
  align-items: center;
}
.i{
  flex: 1; 
  margin: 0 10px;
  text-align: center; 
  padding: 10px; 
  border: 1px solid #ccc;
}
.l{
  flex: 1; 
  margin: 0 10px;
  text-align: center; 
  padding: 10px; 
  border: 1px solid #ccc;
}
.w{
  flex: 1; 
  margin: 0 10px;
  text-align: center; 
  padding: 10px; 
  border: 1px solid #ccc;
}
.f{
  flex: 1; 
  margin: 0 10px;
  text-align: center; 
  padding: 10px; 
  border: 1px solid #ccc;
}