body {
  margin: 0;
  padding-bottom: 0px;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
}

.main-header {
  background-color:white;
  height: 80px;
  background-size: cover;
  padding-bottom: 0px;
  background-position: center;
  color: #740707; 
  padding-bottom: 0; 
}

.header-container {
  display: flex;
  flex-direction: start;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: fixed;
  margin: auto;
  border-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 2px;
}
.header-container:hover{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.205);
}
.logo {
  max-height: 50px; 
  max-width: 200px;
  flex: 1;
  margin-left: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
  cursor: pointer;}

nav ul li a {
  text-decoration: none;
  color: burlywood 
  font-weight: bold;
}
nav ul li a:hover{
  text-decoration: underline;
}

