*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family:sans-serif;
}

.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}

.container{
    width:80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.container-section{
    float: left;
    width: 55%;
}

.image-section{
    float: right;
    width: 40%;
}

.img{
    width: 100%;
    height: auto;
}

.container-section .title{
    text-transform: uppercase;
    font-size: 28px;
}

.container-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.container-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

.container-section .button{
    margin-top: 30px;
}

.container-section .button a{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.container-section .button a:hover{
    background-color: #a52a2a;
    color: #fff;
}

.social{
    margin: 40px 0px;
}

.social i{
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}

.social i:hover{
    color: #3d3d3d;
}

.img-resizable {
    width: 90%;
    height: auto;
}
